{
	"api": {
		"app_id": "api",
		"mailchimp_config": {
			"api_key": "",
			"audience_id": "",
			"data_center": ""
		},
		"client_domain": "localhost:8080",
		"flutterwave": {
			"publicKey": "",
			"secretKey": ""
		},
		"google_application_credentials": "docs/credentials.json",
		"emails": {
			"no_reply": {
				"private_key": "",
				"client_id": ""
			}
		},
		"open_ai_key": "",
		"termii_api_key": ""
	},
	"general": {
		"app_id": "general",
		"environment": "development",
		"super_admin": "example@gmail.com",
		"access_token_key": "access_token_key",
		"refresh_token_key": "refresh_token_key",
		"mongodb_uri": "mongodb://mongo:27017/sofa?replicaSet=rs0",
		"redis_uri": "redis://redis:6379",
		"kafka_brokers": "kafka:9092"
	},
	"root": {
		"base_domain": "localhost",
		"use_ssl": 0,
		"port": 8080
	}
}