doctype html
html(lang="en")
    head
        title New Message
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body(style="font-family: Helvetica;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
        img(src='cid:logo', height='30px')
        div !{message}