doctype html
html(lang="en")
    head
        title Welcome To Stranerd!
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body(style="font-family: Helvetica;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
        p Welcome!
        p Thank you for signing up to Stranerd, we’re delighted to have you here.
        p We have many features designed to help you study smarter and conveniently.
        p
            b Check them out:
        p Test Preps - If you want to take practice quizzes on various exams/subjects
        p Flashcards - Useful for memorizing concepts while reading
        p Study Notes - Read concise and easy to understand notes on different subjects
        p Our community just got bigger!
        p
            b Stay Nerdy<br>
                | From the Stranerd Team