doctype html
html(lang="en")
    head
        title Welcome To Stranerd!
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body(style="font-family: Helvetica;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
        p Welcome!
        p Thank you for signing up to Stranerd, we’re delighted to have you here.
        p We have many features designed to help you study smarter and conveniently.
        p
            b Stay Nerdy<br>
                | From the Stranerd Team